html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

#main-container {
    height: 100%;

    .row {
        height: 100%
    }

    aside {
        height: 100%;
        -webkit-box-shadow: 1px 1px 10px rgba(179, 179, 179, 0.5);
                box-shadow: 1px 1px 10px rgba(179, 179, 179, 0.5);
        z-index: 10;

        .logo {
            .svg {
                height: 70px;
                width: 70px;
            }
        }

        ul {
            padding: 0 0 0 10px;

            li {
                list-style: none;
                
                a {
                    display: block;
                    color: #000;
                    text-decoration: none;
                    font-size: 1.2rem;
                    text-transform: uppercase;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }

    main {
        padding: 20px;
        max-height: 100%;
        overflow-y: scroll;
        background-color: #fffbfb;

        .content {
            position: relative;
            background-color: #fff;
            padding: 40px;
            margin: 30px 0;
            -webkit-box-shadow: 1px 1px 3px rgb(156, 156, 156);
                    box-shadow: 1px 1px 3px rgb(156, 156, 156);
        }

        .navbar {
            position: absolute;
            top: 0;
            left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-line-pack: justify;
                align-content: space-between;
            width: 100%;
            margin: 0;
            z-index: 1;
            -webkit-box-shadow: 1px 1px 3px rgba(179, 179, 179, 0.5);
                    box-shadow: 1px 1px 3px rgba(179, 179, 179, 0.5);
            padding-left: 20px;
            padding-right: 20px;
        }
    }

}